<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrar</servlet-name>
        <servlet-class>com.servlet.ServletRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>com.servlet.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaAvisos</servlet-name>
        <servlet-class>com.servlet.ServletAltaAvisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaPregunta</servlet-name>
        <servlet-class>com.servlet.ServletAltaPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarPreguntasRecibidas</servlet-name>
        <servlet-class>com.servlet.ServletModificarPreguntasRecibidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletObtenerUsuarios</servlet-name>
        <servlet-class>com.servlet.ServletObtenerUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <servlet-class>com.servlet.ServletActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaProvincia</servlet-name>
        <servlet-class>com.servlet.ServletAltaProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarProvincias</servlet-name>
        <servlet-class>com.servlet.ServletEliminarProvincias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarProvincias</servlet-name>
        <servlet-class>com.servlet.ServletModificarProvincias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarUsuario</servlet-name>
        <servlet-class>com.servlet.ServletBorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarPrediccion</servlet-name>
        <servlet-class>com.servlet.ServletEliminarPrediccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSelecProvincia</servlet-name>
        <servlet-class>com.servlet.ServletSelecProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaPrediccion</servlet-name>
        <servlet-class>com.servlet.ServletAltaPrediccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarPrediccion</servlet-name>
        <servlet-class>com.servlet.ServletModificarPrediccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSelecProvinciaTiempo</servlet-name>
        <servlet-class>com.servlet.ServletSelecProvinciaTiempo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrar</servlet-name>
        <url-pattern>/ServletRegistrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaAvisos</servlet-name>
        <url-pattern>/ServletAltaAvisos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaPregunta</servlet-name>
        <url-pattern>/ServletAltaPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarPreguntasRecibidas</servlet-name>
        <url-pattern>/ServletModificarPreguntasRecibidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObtenerUsuarios</servlet-name>
        <url-pattern>/ServletObtenerUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <url-pattern>/ServletActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaProvincia</servlet-name>
        <url-pattern>/ServletAltaProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarProvincias</servlet-name>
        <url-pattern>/ServletEliminarProvincias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarProvincias</servlet-name>
        <url-pattern>/ServletModificarProvincias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarUsuario</servlet-name>
        <url-pattern>/ServletBorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarPrediccion</servlet-name>
        <url-pattern>/ServletEliminarPrediccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSelecProvincia</servlet-name>
        <url-pattern>/ServletSelecProvincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaPrediccion</servlet-name>
        <url-pattern>/ServletAltaPrediccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarPrediccion</servlet-name>
        <url-pattern>/ServletModificarPrediccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSelecProvinciaTiempo</servlet-name>
        <url-pattern>/ServletSelecProvinciaTiempo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
